/* Pantalla PC básica 1440 */

    .contenedor {        
        display: flex;
        height: 100vh;
        background: #F3F5FC;
        color: #0a3871;
        font-family: 'Montserrat', sans-serif;        
    }

    .logo {
        position: absolute ;       
        top: 2em;
        left: 1em;
    }

    .bloque1 {
        float: left;        
        margin-top: 58vh;
        margin-left: 5vw;
        display: block;
    }

    .bloque2 {  

        display: none;       
    }

    .bloque3 {

        display: none;       
    }

    .boton1 {
        position: absolute;
        width: 22vw;
        height: 4em;
        font-size: 1em;
        color: white;
        background: #0A3871;
        border-radius: 1.4em;
        text-align: center;
        transition: 0.5s all;
        cursor: pointer;
    }

    .boton2 {
        position: absolute;
        width: 22vw;
        height: 4em;
        font-size: 1em;
        color: #0A3871;
        background: #F3F5FC;
        border-radius: 1.4em;
        text-align: center;
        transition: 0.5s all;
        cursor: pointer;
    }

    .boton1:hover, .boton2:hover {
        transform: scale(1.04);
    }

    #botonA {        
        left: 39vw;
        top: 35vh;
        height: 7em;
    }

    #botonB {
        left: 39vw;
        top: 55vh;
    }

    .mensaje {
        position: absolute;       
        top: 20vh;
        left: 25vw;
        width: 33vw;
        height: 4rem;
        background: #F3F5FC;
        border-style: hidden;
        border-color: #F3F5FC;
        color: #0a3871;
        font-size: 2em;
    }

    #leyenda { 
        position: absolute;              
        top: 76vh;
        left: 25vw;
        font-size: 12px;
        opacity: 80%;
    }

    #botonC {
        top: 80vh;
        left: 25vw;        
    }

    #botonD {
        position: absolute;
        top: 80vh;
        left: 50vw;
    }

    canvas {
        position: absolute;
        top: 5vh;
        left: 36vw;
        background: #F3F5FC;
    }

    .letra {
        font-size: 4em;
        font-weight: bold;
    }

    #let1 {
        position: absolute;
        top: 55vh;
        left: 32vw;
    }

    #let2 {
        position: absolute;
        top: 55vh;
        left: 37vw;
    }

    #let3 {
        position: absolute;
        top: 55vh;
        left: 42vw;
    }

    #let4 {
        position: absolute;
        top: 55vh;
        left: 47vw;
    }

    #let5 {
        position: absolute;
        top: 55vh;
        left: 52vw;
    }

    #let6 {
        position: absolute;
        top: 55vh;
        left: 57vw;
    }

    #let7 {
        position: absolute;
        top: 55vh;
        left: 62vw;
    }

    #let8 {
        position: absolute;
        top: 55vh;
        left: 67vw;
    }

    #resultado {
        position: absolute;
        top: 25vh;
        left: 39vw;
        font-size: 4em;
        font-weight: bold;
        color: red;
    }

    #pista {
        position: absolute;
        top: 58vh;
        left: 32vw;
        font-size: 5.4em;
        font-weight: bold;
    }

    #letErroneas {
        position: absolute;
        top: 72vh;
        left: 32vw;
        font-size: 2em;
        font-weight: bold;
        color: grey;
    }

@media screen and (max-width: 940px) {

    .contenedor {
        height: 145vh;
    }

    canvas {
        top: 15vh;
        left: 28vw;
    }

    .boton1, .boton2 {
        width: 30vw;
    }

    #botonA, #botonB {
        left: 36vw;
    }

    #botonC {
        left: 20vw;
    } 

    #botonD {
        left: 55vw;
    }

    #let1 {
        left: 22vw;
    }

    #let2 {
        left: 30vw;
    }

    #let3 {
        left: 38vw;
    }

    #let4 {
        left: 46vw;
    }

    #let5 {
        left: 54vw;
    }

    #let6 {

        left: 62vw;
    }

    #let7 {
        left: 70vw;
    }

    #let8 {
        left: 78vw;
    }

    #pista {
        left: 22vw;
    }

    #letErroneas {
        left: 32vw;
    }

    #resultado {
        left: 33vw;
    }
}

@media screen and (max-width: 580px) {

    .contenedor {
        height: 100vh;
        background: #F3F5FC;
    }

    .logo {      
        top: 0.5em;
    }

    canvas {
        top: 10vh;
        left: 10vw;
    }

    .boton1, .boton2 {
        width: 45vw;
    }

    #botonA, #botonB {
        left: 28vw;
    } 

    #botonC {
        left: 8vw;
    } 

    #botonD {
        left: 58vw;
    }

    .letra {
        font-size: 2.5em;
    }

    #let1, #let2, #let3, #let4, 
    #let5, #let6, #let7, #let8 {
        top: 65vh;
    }

    #pista {
        font-size: 3.5em;
        top: 66vh;
        left: 22vw;
    }

    #letErroneas {
        top: 74vh;
        left: 22vw;
    }

    #resultado {
        font-size: 3em;
        top: 35vh;
        left: 22vw;
    }
}

@media screen and (max-width: 420px) {

    .contenedor {
        width: 100vw;
        height: 100vh;
        background: #F3F5FC;
    }

    .logo {      
        top: 0.5em;
    }

    canvas {
        top: 10vh;
        left: 2vw;
    }

    .boton1, .boton2 {
        width: 80vw;
    }

    #botonA, #botonB {
        left: 10vw;
    } 

    #botonC {
        top: 80vh;
        left: 10vw;
    } 

    #botonD {
        top: 90vh;
        left: 10vw;
    }

    .letra {
        font-size: 2.5em;
    }

    #let1, #let2, #let3, #let4, 
    #let5, #let6, #let7, #let8 {
        top: 65vh;
    }

    #let1 {
        left: 8vw;
    }

    #let2 {
        left: 19vw;
    }

    #let3 {
        left: 30vw;
    }

    #let4 {
        left: 41vw;
    }

    #let5 {
        left: 52vw;
    }

    #let6 {

        left: 63vw;
    }

    #let7 {
        left: 74vw;
    }

    #let8 {
        left: 85vw;
    }

    #pista {
        font-size: 3.4em;
        top: 65vh;
        left: 8vw;
    }

    #letErroneas {
        top: 74vh;
        left: 8vw;
    }

    #resultado {
        font-size: 3em;
        top: 35vh;
        left: 22vw;
    }
}